#container{
    background: lightcyan;
    color: brown;
    font-style: italic;
    font-size: larger;
}

ul li{
    margin-left: 15px;
    font-style: normal;
}
a:link{
    text-decoration: none;
}

.cat{
    width: 250px;
    margin: 5px;
}
.cat img{
    width: 250px;
    height: 200px;
    padding: 10px;
}